/* styles/fonts.css */
@font-face {
    font-family: 'Gilroy';
    src: url('/public/fonts/Gilroy-Regular.ttf') format('ttf'),
         url('/public/fonts/Gilroy-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/public/fonts/Gilroy-Bold.ttf') format('tff'),
         url('/public/fonts/Gilroy-Bold.ttf') format('tff');
    font-weight: bold;
    font-style: normal;
  }
  